certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
prompt-toolkit==2.0.5
pycparser==2.19
requests==2.19.1
six==1.11.0
sounddevice==0.3.12
SoundFile==0.10.2
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
wit==5.1.0
